<Virtualize Context="article" ItemsProvider="@LoadEmployees">
    <ItemContent>
        <div style="height: 50px;">
            <h3>@article.Title</h3>
            <p>@article.Content</p>
        </div>
    </ItemContent>
    <Placeholder>
        <div style="height: 50px;">
            In progress...
        </div>
    </Placeholder>
</Virtualize>
